# Section 2

## This is to ensure you have the proper tools installed

In [1]:
%pip install pandas
%pip install mysql-connector-python
%pip install kagglehub

Requirement already satisfied: pandas in C:\Users\Cillian\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (3.0.0)
Requirement already satisfied: numpy>=2.3.3 in C:\Users\Cillian\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in C:\Users\Cillian\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in C:\Users\Cillian\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in C:\Users\Cillian\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: mysql-connector-python in C:\Users\Cillian\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (9.6.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: kagglehub in C:\Users\Cillian\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (1.0.0)
Requirement already satisfied: kagglesdk<1.0,>=0.1.14 in C:\Users\Cillian\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (from kagglehub) (0.1.15)
Requirement already satisfied: packaging in C:\Users\Cillian\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (from kagglehub) (26.0)
Requirement already satisfied: pyyaml in C:\Users\Cillian\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (from kagglehub) (6.0.3)
Requirement already satisfied: requests in C:\Users\Cillian\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (from kagglehub) (2.32.5)
Requirement already satisfied: tqdm in C:\Users\Cillian\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (from kagglehub) (4.67.3)
Requirement already satisfied: protobuf in C:\Users\Cillian\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (from kagglesdk<1.0,>=0.1.14->kagglehub) (6.33.5)
Requirement already satisfied: charset_normalizer<4,>=2 in C:\Users\Cillian\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (from requests->kagglehub) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in C:\Users\Cillian\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (from requests->kagglehub) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in C:\Users\Cillian\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (from requests->kagglehub) (2.6.3)
Requirement already satisfied: certifi>=2017.4.17 in C:\Users\Cillian\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (from requests->kagglehub) (2026.1.4)
Requirement already satisfied: colorama in C:\Users\Cillian\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (from tqdm->kagglehub) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

## This checks if the necessary files are accessible and available

If the csv file can not be found download here and make sure it is in the correct directory:

https://drive.google.com/file/d/1B0P20CU9JP1I-jj0sgnq4QRvrtRLgUxF/view?usp=drive_link

In [2]:
from pathlib import Path 
import os

csv_file = "IMDB Movie Big Dataset.csv"
current_dir = Path(os.getcwd())

if (current_dir / csv_file).is_file():
    csv_file = (current_dir / csv_file)
    print("CSV present")
else:
    import kagglehub
    cached_path = Path(kagglehub.dataset_download("shubhamchandra235/imdb-and-tmdb-movie-metadata-big-dataset-1m"))
    if cached_path.is_file():
        csv_file = cached_path
    elif cached_path.is_dir():
        csv_file = list(cached_path.glob("*.csv"))[0]
        target_dir = str(current_dir) + "/IMDB Movie Big Dataset.csv"
        os.rename(csv_file, target_dir)
        csv_file = target_dir
        print("Successfully downloaded and moved file")

CSV present

In [71]:
import ast
import sqlite3
import pandas as pd

def col_to_list(col):
    if pd.isna(col) or col == '':
        return []
    col = str(col).strip()
    try:
        col_list = ast.literal_eval(col)
        if isinstance(col_list, list):
            return col_list
        else:
            return [str(col_list).strip()]
    except (ValueError, SyntaxError):
        return [i.strip() for i in col.split(',') if i.strip()]

# Turns columnns from string representation to array 

#Small version for testing queries
#df = pd.read_csv(csv_file, nrows=100)

#Full db
df = pd.read_csv(csv_file)

# Renames variables to better names
df.rename(columns={
    'AverageRating':'average_rating',
    'genres_list':'genres',
}, inplace=True)
df.columns = df.columns.str.lower()

column_list = [
    "production_companies",
    "production_countries",
    "spoken_languages",
    "keywords",
    "producers",
    "genres",
    "cast_list",
    "all_combined_keywords"
]

for l in column_list:
    df[l] = df[l].apply(col_to_list)

conn = sqlite3.connect("IMDB Dataset.sqlite")
df_main = df.drop(columns=column_list)
df_main.to_sql("movies", conn, if_exists="replace", index=False)

<unknown>:1: SyntaxWarning: invalid decimal literal
<unknown>:1: SyntaxWarning: invalid decimal literal
<unknown>:1: SyntaxWarning: invalid decimal literal
<unknown>:1: SyntaxWarning: invalid decimal literal
<unknown>:1: SyntaxWarning: invalid decimal literal
<unknown>:1: SyntaxWarning: invalid decimal literal

1072255

In [72]:
def create_junction_tables(df, col_id, col_list):
    junctions = {}
    for col in col_list:
        junction_df = (
            df[[col_id, col]]
                .explode(col)
                .dropna(subset=[col])
                .rename(columns={col_id: "movie_id", col:col})
        )
        junctions[col] = junction_df
    return junctions

junctions = create_junction_tables(df, col_id="id", col_list=column_list)

for col, junction_df in junctions.items():
    table_name = f"movie_{col}"
    junction_df.to_sql(table_name, conn, if_exists="replace", index=False)

### TEMP to show how to access the SQLite database

In [37]:
# TEMP to show how to access movies
conn = sqlite3.connect("IMDB Dataset.sqlite")
movies_df = pd.read_sql("SELECT * FROM movies", conn)
movies_df.head(50)

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,imdb_rating,meta_score,star1,star2,star3,star4,writer,director_of_photography,music_composer,overview_sentiment
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,0,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,8.8,74.0,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,Christopher Nolan,Wally Pfister,Hans Zimmer,-0.011111
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,0,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,8.6,74.0,Matthew McConaughey,Anne Hathaway,Jessica Chastain,Mackenzie Foy,Jonathan Nolan,Hoyte van Hoytema,Hans Zimmer,0.045455
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,0,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,9.0,84.0,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,Jonathan Nolan,Wally Pfister,"Hans Zimmer, James Newton Howard",0.025000
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,0,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,7.8,83.0,Sam Worthington,Zoe Saldana,Sigourney Weaver,Michelle Rodriguez,James Cameron,Mauro Fiore,James Horner,0.041667
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,0,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,8.0,69.0,Robert Downey Jr.,Chris Evans,Scarlett Johansson,Jeremy Renner,Sydney Newman,NaN,NaN,0.025000
5,293660,Deadpool,7.606,28894,Released,2016-02-09,783100000,108,0,/en971MEXui9diirXlogOrPKmsEn.jpg,...,8.0,65.0,Ryan Reynolds,Morena Baccarin,T.J. Miller,Ed Skrein,Joss Whedon,NaN,NaN,-0.030293
6,299536,Avengers: Infinity War,8.255,27713,Released,2018-04-25,2052415039,149,0,/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg,...,8.4,68.0,Joe Russo,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,Rhett Reese,NaN,NaN,0.087662
7,550,Fight Club,8.438,27238,Released,1999-10-15,100853753,139,0,/hZkgoQYus5vegHoetLkCJzb17zJ.jpg,...,8.8,66.0,Brad Pitt,Edward Norton,Meat Loaf,Zach Grenier,Christopher Markus,NaN,NaN,-0.215909
8,118340,Guardians of the Galaxy,7.906,26638,Released,2014-07-30,772776600,121,0,/uLtVbjvS1O7gXL8lUOwsFOH4man.jpg,...,8.0,76.0,Chris Pratt,Vin Diesel,Bradley Cooper,Zoe Saldana,Chuck Palahniuk,Roger Pratt,Joel McNeely,0.400000
9,680,Pulp Fiction,8.488,25893,Released,1994-09-10,213900000,154,0,/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg,...,8.9,94.0,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,James Gunn,Seamus McGarvey,Alan Silvestri,0.166667
10,13,Forrest Gump,8.477,25409,Released,1994-06-23,677387716,142,0,/qdIMHd4sEfJSckfVJfKQvisL02a.jpg,...,8.8,82.0,Tom Hanks,Robin Wright,Gary Sinise,Sally Field,Quentin Tarantino,Pablo Tabernero,Nathan Scott,0.258333
11,671,Harry Potter and the Philosopher's Stone,7.916,25379,Released,2001-11-16,976475550,152,0,/hziiv14OpD73u9gAak4XDDfBKa2.jpg,...,8.8,NaN,Tom Hanks,NaN,NaN,NaN,Winston Groom,Ken Seng,Tom Holkenborg,0.366667
12,1726,Iron Man,7.640,24874,Released,2008-04-30,585174222,126,0,/cyecB7godJ6kNHGONFjUyVN9OX5.jpg,...,7.9,79.0,Robert Downey Jr.,Gwyneth Paltrow,Terrence Howard,Jeff Bridges,"Don Heck, Keith Giffen, Steve Gan, Joe Simon, ...",Trent Opaloch,Alan Silvestri,-0.156250
13,68718,Django Unchained,8.171,24672,Released,2012-12-25,425368238,165,0,/5Lbm0gpFDRAPIV1Cth6ln9iL1ou.jpg,...,8.4,81.0,Jamie Foxx,Christoph Waltz,Leonardo DiCaprio,Kerry Washington,Mark Fergus,Jeff Cronenweth,"John King, Michael Simpson",-0.437500
14,278,The Shawshank Redemption,8.702,24649,Released,1994-09-23,28341469,142,0,/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg,...,9.3,80.0,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,Quentin Tarantino,Leon Britto,Govindh Vasantha,0.021338
15,299534,Avengers: Endgame,8.263,23857,Released,2019-04-24,2800000000,181,0,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,...,8.4,78.0,Joe Russo,Robert Downey Jr.,Chris Evans,Mark Ruffalo,Stephen King,Ben Davis,Tyler Bates,-0.280000
16,603,The Matrix,8.206,23815,Released,1999-03-30,463517383,136,0,/oMsxZEvz9a708d49b6UdZK1KAo5.jpg,...,8.7,73.0,Lilly Wachowski,Keanu Reeves,Laurence Fishburne,Carrie-Anne Moss,Christopher Markus,Andrzej Sekula,NaN,0.150000
17,597,Titanic,7.900,23637,Released,1997-11-18,2264162353,194,0,/rzdPqYx7Um4FUZeD8wpXqjAUcEm.jpg,...,7.8,75.0,Leonardo DiCaprio,Kate Winslet,Billy Zane,Kathy Bates,Lilly Wachowski,Don Burgess,Alan Silvestri,0.350000
18,475557,Joker,8.168,23425,Released,2019-10-01,1074458282,122,0,/hO7KbdvGOtDdeg0W4Y5nKEHeDDh.jpg,...,8.5,59.0,Joaquin Phoenix,Robert De Niro,Zazie Beetz,Frances Conroy,James Cameron,John Seale,John Williams,-0.387500
19,120,The Lord of the Rings: The Fellowship of the Ring,8.402,23323,Released,2001-12-18,871368364,179,0,/x2RS3uTcsJJ9IfjNPcgDmukoEcQ.jpg,...,8.8,92.0,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,Todd Phillips,Matthew Libatique,Ramin Djawadi,-0.066667
20,122,The Lord of the Rings: The Return of the King,8.474,22334,Released,2003-12-01,1118888979,201,0,/2u7zbn8EudG6kLlBzUYqP8RyFU4.jpg,...,8.9,94.0,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,J.R.R. Tolkien,Carl E. Guthrie,Milton Rosen,-0.225000
21,11324,Shutter Island,8.200,22318,Released,2010-02-14,294800000,138,0,/2nqsOT2AqPkTW81bWaLRtjgjqVM.jpg,...,8.2,63.0,Leonardo DiCaprio,Emily Mortimer,Mark Ruffalo,Ben Kingsley,J.R.R. Tolkien,Percy Hilburn,NaN,-0.500000
22,106646,The Wolf of Wall Street,8.035,22222,Released,2013-12-25,392000000,180,0,/63y4XSVTZ7mRzAzkqwi3o0ajDZZ.jpg,...,8.2,75.0,Leonardo DiCaprio,Jonah Hill,Margot Robbie,Matthew McConaughey,Laeta Kalogridis,NaN,NaN,0.116883
23,99861,Avengers: Age of Ultron,7.276,21754,Released,2015-04-22,1405403694,141,0,/6YwkGolwdOMNpbTOmLjoehlVWs5.jpg,...,8.2,NaN,Leonardo DiCaprio,NaN,NaN,NaN,Terence Winter,NaN,NaN,-0.069444
24,271110,Captain America: Civil War,7.400,21541,Released,2016-04-27,1155046416,147,0,/wdwcOBMkt3zmPQuEMxB3FUtMio2.jpg,...,7.8,75.0,Joe Russo,Chris Evans,Robert Downey Jr.,Scarlett Johansson,Joss Whedon,NaN,NaN,0.033333
25,49026,The Dark Knight Rises,7.777,21335,Released,2012-07-17,1081041287,165,0,/c3OHQncTAnKFhdOTX7D3LTW6son.jpg,...,8.4,78.0,Christian Bale,Tom Hardy,Anne Hathaway,Gary Oldman,Christopher Markus,NaN,NaN,-0.044805
26,68721,Iron Man 3,6.928,21064,Released,2013-04-18,1215577205,130,0,/aFTYFqrWp4RS46Twm87l5e0ItYb.jpg,...,8.4,NaN,Christian Bale,NaN,NaN,NaN,Jonathan Nolan,Robert Richardson,NaN,-0.200000
27,284054,Black Panther,7.390,21053,Released,2018-02-13,1349926083,135,0,/b6ZJZHUdMEFECvGiDpJjlfUWela.jpg,...,7.1,NaN,Robert Downey Jr.,NaN,NaN,NaN,Drew Pearce,NaN,NaN,0.115855
28,284052,Doctor Strange,7.427,20935,Released,2016-10-25,676343174,115,0,/qUv51IFUvVRAP2379ThmA3eLJx6.jpg,...,7.3,NaN,Chadwick Boseman,NaN,NaN,NaN,Ryan Coogler,Roger Deakins,Thomas Newman,0.012121
29,76341,Mad Max: Fury Road,7.582,20911,Released,2015-05-13,378858340,121,0,/8yACFuo4OaIiKr9hHFlmPcGalKx.jpg,...,8.1,90.0,Tom Hardy,Charlize Theron,Nicholas Hoult,Zoë Kravitz,Jon Spaihts,Trent Opaloch,Alan Silvestri,0.100000
30,16869,Inglourious Basterds,8.215,20746,Released,2009-08-19,321457747,153,0,/8pEnePgGyfUqj8Qa6d91OZQ6Aih.jpg,...,8.3,69.0,Brad Pitt,Diane Kruger,Eli Roth,Mélanie Laurent,George Miller,Bill Pope,Don Davis,-0.218750
31,70160,The Hunger Games,7.193,20636,Released,2012-03-12,694394724,142,0,/yDbyVT8tTOgXUrUXNkHEUqbxb1K.jpg,...,8.3,NaN,Brad Pitt,NaN,NaN,NaN,Quentin Tarantino,NaN,NaN,-0.137963
32,315635,Spider-Man: Homecoming,7.345,20507,Released,2017-07-05,880166924,133,0,/fn4n6uOYcB6Uh89nbNPoU2w80RV.jpg,...,7.2,NaN,Jennifer Lawrence,NaN,NaN,NaN,Gary Ross,Russell Carpenter,James Horner,-0.016753
33,672,Harry Potter and the Chamber of Secrets,7.721,20390,Released,2002-11-13,876688482,161,0,/1stUIsjawROZxjiCMtqqXqgfZWC.jpg,...,7.4,NaN,Tom Holland,NaN,NaN,NaN,Jonathan Goldstein,Friedl Behn-Grund,Werner Eisbrenner,0.083333
34,283995,Guardians of the Galaxy Vol. 2,7.624,20353,Released,2017-04-19,863756051,137,0,/aJn9XeesqsrSLKcHfHP4u5985hn.jpg,...,7.6,67.0,Chris Pratt,Zoe Saldana,Dave Bautista,Vin Diesel,J.K. Rowling,Joseph MacDonald,Sol Kaplan,0.350000
35,121,The Lord of the Rings: The Two Towers,8.385,20274,Released,2002-12-18,926287400,179,0,/zcc0My3G4SYR72VuEYHNcUWkkW0.jpg,...,8.7,87.0,Elijah Wood,Ian McKellen,Viggo Mortensen,Orlando Bloom,James Gunn,NaN,NaN,-0.200000
36,1771,Captain America: The First Avenger,6.995,20269,Released,2011-07-22,370569774,124,0,/4NWWpT0jiMUak8r6jfpvG4eBgFU.jpg,...,8.7,NaN,Elijah Wood,NaN,NaN,NaN,J.R.R. Tolkien,NaN,NaN,-0.428571
37,297761,Suicide Squad,5.909,20097,Released,2016-08-03,746846894,123,0,/zC70x9wqPPtxU99HsoGsxQ8IhSw.jpg,...,NaN,NaN,NaN,NaN,NaN,NaN,M. Janakiraman,NaN,Nivas Prasanna,-0.166667
38,673,Harry Potter and the Prisoner of Azkaban,8.020,20038,Released,2004-05-31,789804554,141,0,/obKmfNexgL4ZP5cAmzdL4KbHHYX.jpg,...,7.9,82.0,Daniel Radcliffe,Emma Watson,Rupert Grint,Richard Griffiths,David Ayer,NaN,NaN,-0.005051
39,10195,Thor,6.768,20023,Released,2011-04-21,449326618,115,0,/1wOu8rdvPxU1ObHi20VcRhfNpbo.jpg,...,7.9,NaN,Daniel Radcliffe,NaN,NaN,NaN,J.K. Rowling,NaN,NaN,0.078851
40,10138,Iron Man 2,6.835,19756,Released,2010-04-28,623933331,124,0,/jesRqfL9v6HNnowe795xjmuKUXl.jpg,...,7.0,NaN,Chris Hemsworth,NaN,NaN,NaN,Ashley Miller,Sudeep Chatterjee,G. V. Prakash Kumar,0.026623
41,272,Batman Begins,7.701,19561,Released,2005-06-10,374218673,140,0,/lh5lbisD4oDbEKgUxoRaZU8HVrk.jpg,...,8.2,70.0,Christian Bale,Michael Caine,Ken Watanabe,Liam Neeson,Justin Theroux,NaN,NaN,-0.254545
42,284053,Thor: Ragnarok,7.595,19539,Released,2017-10-02,855301806,131,0,/kaIfm5ryEOwYg8mLbq8HkPuM1Fo.jpg,...,7.9,74.0,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Mark Ruffalo,Bob Kane,Kazbek Amerzhanov,Talgad Zhanibekov,-0.137727
43,150540,Inside Out,7.922,19463,Released,2015-06-09,857611174,95,0,/j29ekbcLpBvxnGk6LjdTc2EI5SA.jpg,...,8.1,94.0,Ronnie Del Carmen,Amy Poehler,Bill Hader,Lewis Black,Eric Pearson,Venugopal Madathil,Mohan Sithara,0.162500
44,135397,Jurassic World,6.682,19414,Released,2015-06-06,1671537444,124,0,/dF6FjTZzRTENfB4R17HDN20jLT2.jpg,...,8.1,NaN,Amy Poehler,NaN,NaN,NaN,Pete Docter,NaN,NaN,0.375000
45,807,Se7en,8.368,19403,Released,1995-09-22,327311859,127,0,/i5H7zusQGsysGQ8i6P361Vnr0n2.jpg,...,8.6,65.0,Morgan Freeman,Brad Pitt,Kevin Spacey,Andrew Kevin Walker,Rick Jaffa,Chezhian Ra,Sean Roldan,-0.129167
46,674,Harry Potter and the Goblet of Fire,7.816,19287,Released,2005-11-16,895921036,157,0,/5rrGVmRUuCKVbqUu41XIWTXJmNA.jpg,...,7.7,81.0,Daniel Radcliffe,Emma Watson,Rupert Grint,Eric Sykes,Andrew Kevin Walker,NaN,NaN,-0.400000
47,22,Pirates of the Caribbean: The Curse of the Bla...,7.794,19233,Released,2003-07-09,655011224,143,0,/wW7Wt5bXzPy4VOEE4LTIUDyDgBo.jpg,...,8.0,63.0,Johnny Depp,Geoffrey Rush,Orlando Bloom,Keira Knightley,Steve Kloves,Lawrence Sher,Hildur Guðnadóttir,0.500000
48,12445,Harry Potter and the Deathly Hallows: Part 2,8.105,19183,Released,2011-07-12,1341511219,130,0,/n5A7brJCjejceZmHyujwUTVgQNC.jpg,...,8.1,85.0,Daniel Radcliffe,Emma Watson,Rupert Grint,Michael Gambon,"Yuri Kuzmenko, Yuri Pustovoy",NaN,NaN,-0.133333
49,11,Star Wars,8.204,19155,Released,1977-05-25,775398007,121,0,/zqkmTXzjkAgXmEWLRsY4UpTWCeo.jpg,...,8.6,90.0,Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness,Steve Kloves,NaN,NaN,-0.075000

In [35]:
# TEMP TO show how to access genres
genres_df = pd.read_sql("SELECT * FROM movie_genres", conn)
genres_df.head(100)

    movie_id           genres
0      27205           Action
1      27205  Science Fiction
2      27205        Adventure
3     157336        Adventure
4     157336            Drama
..       ...              ...
95       672        Adventure
96       672          Fantasy
97    283995  Science Fiction
98    283995        Adventure
99    283995           Action

[100 rows x 2 columns]

In [60]:
movie_genres_df = pd.read_sql("""
SELECT id, title, vote_average, genres as genre
FROM movies  
INNER JOIN movie_genres ON (movies.id = movie_genres.movie_id)"""
, conn)
    
movie_genres_df.head(15)

        id            title  vote_average            genre
0    27205        Inception         8.364           Action
1    27205        Inception         8.364        Adventure
2    27205        Inception         8.364  Science Fiction
3   157336     Interstellar         8.417        Adventure
4   157336     Interstellar         8.417            Drama
5   157336     Interstellar         8.417  Science Fiction
6      155  The Dark Knight         8.512           Action
7      155  The Dark Knight         8.512            Crime
8      155  The Dark Knight         8.512            Drama
9      155  The Dark Knight         8.512         Thriller
10   19995           Avatar         7.573           Action
11   19995           Avatar         7.573        Adventure
12   19995           Avatar         7.573          Fantasy
13   19995           Avatar         7.573  Science Fiction
14   24428     The Avengers         7.710           Action

In [ ]:
movie_genres_df = pd.read_sql("""
SELECT genres as genre, COUNT(*) as Occurances
FROM movie_genres  
GROUP BY genres
ORDER BY Occurances DESC"""
, conn)
movie_genres_df.head(15)

Basic query for most of what we want. Could maybe use some more filtering for different criteria

In [77]:
movie_genres_df = pd.read_sql("""
SELECT Count(genres) as "Num in Genre", AVG(vote_average) as "Average Score", AVG(revenue) as "Average Revenue", AVG(budget) as "Average Budget", genres as Genre
FROM movies  
INNER JOIN movie_genres ON (movies.id = movie_genres.movie_id)
WHERE vote_count > 100
GROUP BY genres
ORDER BY "Num in Genre" DESC """
, conn)
    
movie_genres_df

,Num in Genre,Average Score,Average Revenue,Average Budget,Genre
0,7871,6.750782,2.554977e+07,9.937910e+06,Drama
1,6554,6.375399,3.431879e+07,1.197755e+07,Comedy
2,4220,6.279822,3.593938e+07,1.480472e+07,Thriller
3,3638,6.390812,7.831901e+07,2.828512e+07,Action
4,2915,6.627981,3.199309e+07,1.030597e+07,Romance
5,2622,5.975515,1.712381e+07,5.951914e+06,Horror
6,2437,6.533073,1.169069e+08,3.730913e+07,Adventure
7,2430,6.568885,3.209203e+07,1.393097e+07,Crime
8,1848,6.598706,7.166163e+07,2.367613e+07,Family
9,1821,6.296111,7.726298e+07,2.690239e+07,Science Fiction
10,1754,6.587741,8.034029e+07,2.662472e+07,Fantasy
11,1584,7.002082,5.885179e+07,1.700041e+07,Animation
12,1481,6.428107,2.984880e+07,1.207635e+07,Mystery
13,817,6.981222,3.040899e+07,1.545730e+07,History
14,587,6.905070,2.721161e+07,8.905921e+06,Music
15,573,6.963869,3.606684e+07,1.623147e+07,War
16,499,7.256120,4.189570e+06,7.226795e+05,Documentary
17,388,6.621155,1.578712e+05,6.760180e+05,TV Movie
18,299,6.646876,2.158768e+07,1.179977e+07,Western
19,13,6.877923,0.000000e+00,0.000000e+00,Unknown

## Naïve Implementetation